.nav-trigger {
  display:none;
}


.container_section{
    
  width:90%;
  margin:auto;
  overflow:hidden;  
  background-color: transparent;
  padding: 5px 5px;
  
  }  
  
.container_section p{
  line-height: 120%;
  width: 85%;
  text-align: center;
  color: black;
  margin-bottom: 40px;
   
}
  
.row  {


margin-top:6px;
margin-bottom:40px;


}

header.container {
  position: relative;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: white;
  border-bottom: 2px solid #444;
  box-shadow: 0 3px 7px rgba(0,0,0,.2);

}

.brand {
  width: 125px;
}

.nav {
  position: relative;
  margin-top: 17px;
}

.nav--list {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;

}

.nav--item {
  width: 20%;
  margin-bottom: 0;
  float: left;
  list-style: none;
  border-right: 5px transparent solid;
  
}

.nav--item a {
  display: block;
  color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 17px;
}

.nav--item a:hover {
  text-decoration: none;
  color: #fff;
}

.mobile-nav {
  display: none;
}

/* first nav item */
.nav--item:nth-child(1) a {
  border-color: #FAD089;
}

.nav--item:nth-child(1) .fa {
  color: #FAD089;
}

/* second nav item */
.nav--item:nth-child(2) a {
  border-color: #FF9C5B ;
}

.nav--item:nth-child(2) .fa {
  color: #FF9C5B;
}

/* third nav item */
.nav--item:nth-child(3) a {
  border-color: #F5634A;
}

.nav--item:nth-child(3) .fa {
  color: #F5634A;
}

/* fourth nav item */
.nav--item:nth-child(4) a {
  border-color: #ED303C;
}

.nav--item:nth-child(4) .fa {
  color: #ED303C;
}

/* fifth nav item */
.nav--item:nth-child(5) a {
  border-color: #3B8183 ;
}

.nav--item:nth-child(5) .fa {
  color: #3B8183 ;
}

@media  (max-width: 600px) {
  
 
  body {
    /*overflow: hidden;*/
  }
  
  .brand {
    width: 75px;
  }
  
  header {
    right: 0;
    transition: right .5s;
  }
  
  .nav-trigger {
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    background: transparent;
    border: none;
  }
  
  .nav-trigger:focus {
    outline: none;
  }
  
  .show-nav .nav-trigger {
    margin-top: 10px;
  }
  
  .nav-trigger span {
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    margin: 4px 0;
    border-radius: 5px;
    background-color: #fff;
    transition: all .2s;
  }
  
  .show-nav .nav-trigger span:nth-child(1) {
    transform: rotate(405deg);
  }
  
    .show-nav .nav-trigger span:nth-child(2) {
    opacity: 0;
  }
  
    .show-nav .nav-trigger span:nth-child(3) {
    transform: rotate(-405deg);
    bottom: 16px;
  }
  
  .nav {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
  }
  
  .nav--list {
    display: none;
  }
  
  .mobile-nav .nav--list {
    display: block;
  }
  
  .mobile-nav {
    display: block;
    background: #2a2a2a;
    position: absolute;
    left: 100%;
    bottom: 0;
    top: 0;
    width: 80%;
    transition: left .5s;
  }
  
  .show-nav .mobile-nav {
    left: 20%;
  }
  
  .nav--item {
    width: 100%;
    border-bottom: 1px solid #333;
  }
  
  .nav--item a .fa {
    position: absolute;
    left: 10px;
    color: #fff ;
    font-size: 18px;
  }
  
  .nav--item a {
    display: block;
    padding: 15px 20px 15px 40px;
    border: none;
  }
  
  .nav--list a {
    color: #fff !important;
  }
  

  
  .show-nav header {
    right: 80%;
  }

  
}


/*--novos-->*/

/* Global */

.login_container{
  width:100%;
  overflow:hidden;
  background: #36648B;
    
  
}

.login_container p {

color: white;  
margin: auto;
padding-left: 170px;
padding-top: 1px;
padding-bottom: 1px; 
font-size: 12px;
/*font-weight: bold;*/
    
}




.button_1{
  height:38px;
  margin-top: 35px;
  background: pink;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

.button {
    background-color: transparen; /* Green */
    border: 1px solid #473c8b ;
    color: white;
    padding: 14px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 7px;
    font-weight: normal;
	  margin-top:16px;
}

.button:hover{

  color: white;
  border: 1px solid #473c8b ;
  background-color: #191970;
  font-weight: normal;


}

/* Showcase */

#apresentacao_servico {
    
  padding:15px;
  color:#ffffff;
  position: relative;

    
}

#apresentacao_servico h1 {
    
font-size: 24px;
color: white;   
font-family: 'Roboto', sans-serif;
margin-bottom: 25px;
margin-top: 12px;
    
}

#apresentacao_servico p {
 
    color: #8B8989;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: justify;
   
    
}

#apresentacao_servico span {
    
    color: #2F4F4F;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 22px;
    text-align: justify;

    
}

#lista_ferramentas li{
    color: #8B8989;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3px;
    }

#lista_contato {

  margin-top: 45px;
 
}    

#lista_contato p {

  color: #ADFF2F;
  margin-top: 15px;
  line-height: 5%;
  font-size: 15px;

}

/* Services */
ul #apresentacao_servico li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background: black;
}


.aviso {

margin-bottom: 42px;    
height: 22px;    
width: 45%;    
margin-left: 150px;    
    
}



#showcase{
  min-height:400px;
  background:url('../img/bnn.jpg') no-repeat 0 -50px;
  background-color: #3B8183;
  width: 100%;
  text-align:center;
  color:#ffffff; 

  display: flex;
  align-items: center;
  justify-content: center;
  

}

#showcase h1{
  font-size:26px;
  margin-bottom:17px;
  color: #ADFF2F;
}

#showcase p{
  font-size:22px;
  margin-top: 64px;
  
  
}

/* Newsletter */
#newsletter{
  padding:25px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:35px;
  
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}


#boxes h1{
    
  font-size: 33px;
  color: #473C8B;    
  font-family: 'Roboto', sans-serif;
  text-align: center;

}




/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:3px;
  margin-top:20px;
  color:#ffffff;
  background-color: #4876FF;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }
  
  .button {
 

 margin-bottom: 2px;
 
}
  
  
  
  
  
  
  
  

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
